html {
    box-sizing: border-box;
}

body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.options-menu {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1 {
    text-align: center;
}

.form-check-input {
    margin-left: 0.25em;
}

p {
    font-size: 1em;
}